@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: #FFF;
}

#landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 50px;
    text-align: left;
    max-width: 730px;
    font-weight: 700;
    line-height: 1.25;
    color: #6030b1;
    margin-bottom: 30px;
    display: block;
}

.logo img {
    height: 40px;
    width: auto;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.navlinks li {
    list-style: none;
    cursor: pointer;
    padding: 0 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.navlinks {
    display: flex;
}

.navlinks li:hover { 
    color: #6030b1;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    max-width: 500px;
    width: 100%;
    position: relative;

}

.input-wrapper input {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 25px 25px 25px 25px;
    flex-grow: 1;
    font-size: 18px;
}

.input-wrapper button {
    padding: 15px 25px;
    background-color: #6030b1;
    color: white;
    border: none;
    border-radius: 20px 20px 20px;
    cursor: pointer;
    font-size: 24px;
}

.input-wrapper button i {
    background-color: transparent;
}

.building-logo {
    width: 600px;    
}

li.btn-contact {
    display: flex;
    cursor: pointer;
    max-height: 48px;
    min-height: 48px;
    padding: 12px 40px;
    align-items: center;
    border: 2px #5d3eff;
    border-radius: 50px;
    background-color: #6030b1;
    color: #fff !important;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .35sease;
}


/* 

USER.HTML (SECOND PAGE)
*/

.cinema-img {
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-x: 50%;
    background-position-y: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 70;
    left: 0;
    bottom: 100;
    right: 0;
    z-index: 1;
}


